:root {
    --color-azul: #373f51;
    --color-celeste: #58a4b0;
    --color-background: #F1F2F3;
    --color-surface: #FFFFFF;
    --color-text-primary: #212529;
    --color-text-secondary: #6C757D;
    --color-success: #28A745;
    --color-warning: #FFC107;
    --color-error: #DC3545;

    --color-amarillo: #FAFF00;
    --color-bronze: #BC8034;
    --color-naranja: #FFA400;
    --color-verde: #78BC61;
  }


  
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  