.home-hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  background-color: var(--color-celeste);
}

/* ===== Capa izquierda ===== */
.home-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-azul);
  clip-path: polygon(0 0, 25% 0, 0 100%);
  z-index: 0;
}

/* ===== Capa derecha ===== */
.home-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(25% 0, 100% 100%, 100% 100%, 0 100%);
  background-blend-mode: darken;
  z-index: 1;
}

.home-hero * {
  position: relative;
  z-index: 2;
}

/* === CONTENIDO === */
.home-logo-image {
  max-width: 700px;
  height: auto;
  filter: drop-shadow(-2px 3px 3px rgba(0, 0, 0, 0.233));
}

.home-hero-text {
  font-size: 1.65rem;
  margin-top: 1rem;
  color: var(--color-azul);
}

/* === BOTONES === */
.hero-button-login,
.hero-button-register {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hero-button-login {
  background-color: transparent !important;
  color: var(--color-azul) !important;
  border: 2px solid var(--color-celeste) !important;
}
.hero-button-login:hover {
  background-color: var(--color-celeste) !important;
  color: var(--color-surface) !important;
}

.hero-button-register {
  background-color: var(--color-azul) !important;
  color: var(--color-surface) !important;
  border: 2px solid transparent !important;
}
.hero-button-register:hover {
  background-color: var(--color-celeste) !important;
  color: var(--color-surface) !important;
}


/* FIX LÍNEA */
.home-hero {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: clip-path;
}

.home-hero::before,
.home-hero::after {
  transform: scale(1.01);
}
