/* =========================================================
   HOME - MEDIA QUERIES RESPONSIVE
   ========================================================= */

/* ====== Desktop ajustado ====== */
@media (max-width: 1180px) {
  .plan-cards {
    margin-left: 3px;
  }
}

@media (max-width: 1143px) {
  .plan-cards {
    width: 290px;
    margin-left: 10px;
  }
}

@media (max-width: 1070px) {
  .plan-cards {
    width: 285px;
    margin-left: 25px;
  }
}

@media (max-width: 1030px) {
  .plan-cards {
    width: 280px;
    margin-left: 30px;
  }
}

/* ====== Tablets ====== */
@media (max-width: 993px) {
  .home-navbar-brand {
    font-size: 1.6rem;
  }

  .plan-cards {
    width: 260px;
    margin-left: 6px;
  }

  .navbar-button-login,
  .navbar-button-register,
  .navbar-button-profile {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
  }

  .home-logo-image {
    max-width: 500px;
  }

  .home-hero-text {
    font-size: 1.1rem;
  }

  .hero-button-login,
  .hero-button-register {
    font-size: 1.1rem;
    padding: 0.7rem 1.6rem;
  }
}

@media (max-width: 862px) {
  .plan-cards {
    width: 230px;
  }

  .plans-header {
    margin-top: 5px;
  }
}

/* ====== Celulares grandes ====== */
@media (max-width: 772px) {
  .home-navbar-brand {
    font-size: 1.4rem;
  }

  .home-logo-image {
    max-width: 350px;
  }

  .home-hero-text {
    font-size: 1rem;
  }

  .hero-button-login,
  .hero-button-register {
    width: 100%;
    margin-bottom: 1rem;
    filter: drop-shadow(-2px 3px 3px rgba(0, 0, 0, 0.233));
  }

  .hero-button-login{
    border-color:var(--color-text-secondary) !important;
  }

  .hero-button-login:hover{
    background-color: var(--color-celeste) !important;
  }
  .hero-button-register{

  }

  .plan-cards {
    width: 300px;
  }
}


@media (max-width:767px){
  .map-right{
    margin-top: 2rem;
  }

}

/* ====== Celulares chicos ====== */
@media (max-width: 576px) {
  .home-navbar {
    padding: 1rem;
  }

  .home-logo-image {
    max-width: 250px;
  }

  .home-hero-text {
    font-size: 0.95rem;
  }
}
