/* ===========================
   SECCIÓN PRINCIPAL
=========================== */
.home-plans {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: var(--color-background);
  padding: 5rem 2rem;
}

.home-plans::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-celeste);
  clip-path: polygon(100% 0, 25% 100%, 100% 100%);
  z-index: 0;
}

.home-plans::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-azul);
  background-blend-mode: darken;
  clip-path: polygon(0 0, 25% 100%, 0 100%);
  z-index: 1;
}

/* ===========================
   CONTENIDO
=========================== */
.plans-header {
  position: relative;
  z-index: 2;
  margin-top: -40vh;
}

.plans-header h2 {
  font-size: 2.4rem;
  color: var(--color-azul);
}

.plans-header p {
  color: var(--color-celeste);
  opacity: 0.9;
  font-size: 1.65rem;
  margin-top: 1rem;
}

/* ===========================
   GRID DE CARDS
=========================== */
.plans-grid {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
}

/* ===========================
   1 CARD
=========================== */
.plan-card {
  border: none;
  border-radius: 1rem;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.plan-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-celeste);
}

.home-card-title{
  font-size: 1.6rem;
}

.home-card-text{
  font-size: 0.9rem;
}

.home-card-precio{
  transition: color 200ms ease, font-size 200ms ease;
}

.plan-card:hover .home-card-precio{
  font-size: 1.6rem;
  color: var(--color-celeste);
}


.plan-card:hover .plans-button{
  background-color: transparent;
  border: 2px solid var(--color-azul);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-azul);
}



.plans-button {
  background-color: var(--color-celeste);
  border: none;
  outline: none;
  box-shadow: none;
  transition:background .2s ease;
}

.plans-button:focus,
.plans-button:active {
  outline: none !important;
  box-shadow: none !important;
}

.plans-button:hover {
  background-color: var(--color-celeste) !important;
  color: var(--color-background) !important;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 768px) {
  .plans-header {
    margin-top: -5vh;
  }
  .plan-card {
    min-height: 320px;
  }
}
